h1{
   display:inline-block;
   margin-right: 20px;
   font-family: Impact, Charcoal, sans-serif; 
   font-size: 35px;
   vertical-align: middle;
}

img{
   margin: 20px;
   height: 90px;
   width: auto;
   display: inline-block;
   vertical-align: middle;
}

header{
   background-color: #4169e1;
}

body{
   background-color: #4169e1;
}

td, section, li.stud{
font-size: 20px;
outline: 3px solid #000;
padding: 10px;
}
